.gradle
/build/

# Ignore Idea settings
.idea

# Ignore Allure files
.allure

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache